@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PDFerter Desktop</h1>
    <p>If you have any questions or want to report a problem, do not hesitate to contact the <a
            href="https://github.com/Maklolaj">Author</a>.</p>
</div>
