@model PDFerterDesktopNet.Models.MergeFilesResultModel

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="MergeResult">
    <div class="form-group">
        <div class="col-md-10">
            <label class="form-label">Upload one or more files using this form:</label>
            <input class="form-control" type="file" name="files" accept=".pdf" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<style>
    input.form-control {
        width: 30% !important;
        padding: 0.19rem 0.75rem;
    }
</style>
