<div class="error d-flex justify-content-center">
    <div>Something went terribly wrong...</div>
    <div>Please check your inputs and try again</div>
</div>

<style>
    .error {
        margin-top: 50%;
        flex-flow: column;
    }
</style>
