@model PDFerterDesktopNet.Models.MergeFilesResultModel

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SplitResult">
    <div class="form-group">
        <div class="mb-3">
            <label class="form-label">Upload file to split using this form:</label>
            <input class="form-control" type="file" value="Choose File" name="files" accept=".pdf" />
        </div>
        <div class="mb-3">
            <label class="form-label">Index on which to split the file</label>
            <input class="form-control" type="number" value="Index" name="index" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<style>
    input.form-control {
        width: 30% !important;
        padding: 0.19rem 0.75rem;
    }
</style>