<div class="error d-flex justify-content-center">
    <div>Something went terribly wrong...</div>
    <div>Please check your inputs and try again</div>
    @Html.ActionLink("Go back to Split page", "SplitResult", "Home")
</div>

<style>
    .error {
        margin-top: 20%;
        margin-left: 20%;
        flex-flow: column;
    }
</style>
